:root {
  --blue: #0a123e;
  --blue30: #0a123e62;
  --white: #ffffff;
  --white50: #ffffff85;
  --green: #00be65;
  --green70: #00be65b2;
  --orange: #fa6f21;
}
.favIcon{
  color: var(--blue30);
  font-size: 1.5rem;
  cursor: pointer;
}
.favIcon:hover{
  color: #00be65;
}
.ProdctName h1{
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
}
.imgProduct img {
  max-width: 600px;
  border-radius: 0.5rem;
}
.price{ /* h2 */
  font-size: 1.5rem;
  font-weight: 700;
}
.product {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}
.iconProduct{
  color: var(--orange);
  font-size: 1.2rem;
  padding-right: 0.5rem;
}
.sum,
.rest,
.countItem{
    font-size: 1.5rem;
    font-weight: 700;
}
.sum,
.rest {
  background-color: var(--blue);
  color: var(--white);
  width: 2rem;
  text-align: center;
  border-radius: 5px;
}
.sum:hover,
.rest:hover {
  background-color: var(--blue30);
  color: var(--blue);
  cursor: pointer;
}
.InfoProduct {
  -webkit-box-shadow: 0px 5px 15px -1px rgba(0, 0, 0, 0.62);
  box-shadow: 0px 5px 15px -1px rgba(0, 0, 0, 0.62);
  border-radius: 0.5rem;
}
.contact span {
  font-size: 1.5rem;
}
.contactIcon {
  font-size: 2rem;
  color: var(--blue);
  cursor: pointer;
}
.iconCont .contactIcon:hover {
  color: var(--orange);
}
.btnProGreen{
  background-color: var(--green);
}
.btnProOrange{
  background-color: var(--orange);
}
.btnProGreen , .btnProOrange{
  color: var(--white);
  padding: .5rem 1rem;
  border-radius: 1rem;
  font-size: 1.2rem;
  font-weight: 700;
}
.btnProGreen:hover {
  background-color: var(--green70);
  color: var(--blue);
}
.btnProOrange:hover{
  background-color: #fa7121cb;
  color: var(--blue);
}
.infoCard h2{ /* h2 */
  font-size: 1.5rem;
  font-weight: 700;
}
@media (max-width: 992px) {
  .imgProduct img {
    width: 400px;
  }
  .product {
    grid-template-columns: auto;
    grid-template-rows: auto 1fr;
  }
}
@media (max-width: 768px) {
  .imgProduct img {
    width: 500px;
  }
}
@media (max-width: 576px) {
  .imgProduct img {
    width: 400px;
  }
}
@media (max-width: 412px) {
  .imgProduct img {
    width: 280px;
    height: 300px;
  }
}
